<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Edit book</h1>
<form method="post" th:action="@{'/books/update/' + ${book.id}}">
    <p>
        <label>
            <b>Name:</b>
            <input type="text" name="name" th:value="${book.name}">
        </label>
    </p>
    <p>
        <label>
            <b>Author:</b>
            <input type="text" name="author" th:value="${book.author}">
        </label>
    </p>
    <p>
        <label>
            <b>Year:</b>
            <input type="number" name="year" th:value="${book.year}">
        </label>
    </p>
    <button type="submit">Save</button>
</form>
<p th:if="${message != null}" th:text="${message}"></p>
<a href="/books">Go to books</a>
</body>
</html>